@import './fonts.css';

:root {
  --black: #121212;
  --pink: #ff75b3;
  --white: #fff;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'opensans-regular';
  line-height: 1.6;
}

a {
  text-decoration: none;
}

h1,h2,h3,h4,p {
  margin: 0;
  padding: 0;
}

p {
  font-family: 'opensans-light';
  font-size: 14px;
  font-weight: 600;
  letter-spacing: .5px;
}

.tittle-style {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 22px;
  font-family: 'cairo-bold';
}

.btn {
  background: var(--pink);
  color: #fff;
  display: inline-block;
  font-family: 'opensans-light';
  font-weight: 600;
  letter-spacing: 1.5px;
  padding: 10px 25px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}



.wrapper {
  display: grid;
  grid-template-areas: 
    'header header'
    'banner banner'
    'boxs-services boxs-services'
    'signature signature'
    'portfolio portfolio'
    'footer footer'
  ;
}

header {
  align-items: center;
  background: var(--white);
  grid-area: header;
  padding: 10px 5%;
  display: grid;
  grid-template-columns: 1fr auto;
}

header ul {
  list-style: none;
  display: flex;
}

header li + li {
  margin-left: 30px;
}

header ul a {
  color: var(--black);
  font-family: 'cairo-bold';
  padding: 10px;
  text-transform: uppercase;
  transition: .2s;
}

header ul a:hover {
  color: var(--pink);
}

#logo {
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-family: 'cairo-bold';
  color: var(--black);
}

#logo span {
  color: var(--pink);
}

.banner-top {
  background: url(../img/banner.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  grid-area: banner;
  flex-direction: column;
  justify-content: center;
  min-height: 450px;
  padding: 0 5%;
}

.banner-top div {
  width: 500px
}

.banner-top h1 {
  color: var(--white);
  font-size: 40px;
}

.banner-top p {
  color: #fff;
  margin-top: 10px;
  margin-bottom: 25px;
}

.boxs-services {
  display: grid;
  grid-area: boxs-services;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  padding: 20px 5%; 
}

.boxs-services .box{
  background: var(--pink);
}

.signature {
  background: peru;
  padding: 40px 0;
  grid-area: signature;
}

.portfolio {
  grid-area: portfolio;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

footer {
  background: var(--black);
  display: grid;
  grid-area: footer;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  padding: 40px 5%;
}