@import './fonts.css';

:root {
  --black: #121212;
  --pink: #ff75b3;
  --white: #fff;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'opensans-regular';
  line-height: 1.6;
}

a {
  text-decoration: none;
}

h1,h2,h3,h4,p {
  margin: 0;
  padding: 0;
}

p {
  font-family: 'opensans-light';
  font-size: 14px;
  font-weight: 600;
  letter-spacing: .5px;
}

img {
  max-width: 100%;
}

.tittle-style {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 22px;
  font-family: 'cairo-bold';
}

.btn {
  background: var(--pink);
  color: #fff;
  display: inline-block;
  font-family: 'opensans-light';
  font-weight: 600;
  letter-spacing: 1.5px;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  width: 105px
}



.wrapper {
  display: grid;
  grid-template-areas: 
    'header header'
    'banner banner'
    'boxs-services boxs-services'
    'signature signature'
    'portfolio portfolio'
    'footer footer'
  ;
}

header {
  align-items: center;
  background: var(--white);
  grid-area: header;
  padding: 10px 5%;
  display: grid;
  grid-template-columns: 1fr auto;
}

header ul {
  list-style: none;
  display: flex;
}

header li + li {
  margin-left: 30px;
}

header ul a {
  color: var(--black);
  font-family: 'cairo-bold';
  padding: 10px;
  text-transform: uppercase;
  transition: .2s;
}

header ul a:hover {
  color: var(--pink);
}

#logo {
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-family: 'cairo-bold';
  color: var(--black);
}

#logo span {
  color: var(--pink);
}

.banner-top {
  background: url(../img/banner.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  grid-area: banner;
  flex-direction: column;
  justify-content: center;
  min-height: 68vh;
  padding: 0 5%;
}

.banner-top div {
  max-width: 500px;
}

.banner-top h1 {
  color: var(--white);
  font-size: 40px;
}

.banner-top p {
  color: #fff;
  margin-top: 10px;
  margin-bottom: 25px;
}

.boxs-services {
  display: grid;
  grid-area: boxs-services;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 40px;
  padding: 40px 5%; 
}

.boxs-services .box {
  border: solid 1px var(--pink);
  padding: 20px;
  text-align: center;
}

.boxs-services .box img {
  margin-bottom: 2px;
  width: 60px;
}

.signature {
  background: #454545;
  padding: 80px;
  grid-area: signature;
}

.signature div {
  text-align: center;
  margin: auto;
  width: 65%;
}

.signature img {
  width: 150px;
  margin-top: 20px;
}

.signature h2 {
  color: var(--pink);
  font-size: 40px;
  margin-bottom: 20px;
}

.signature p {
  color: var(--white);
}

.portfolio {
  display: grid;
  grid-area: portfolio;
  grid-template-columns: repeat(2, 1fr);
}

.description-portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.description-portfolio h4{
  margin-bottom: 10px;
}
.description-portfolio .btn {
  margin-top: 22px;
}

.img-portfolio-1 {
  background: url(../img/portifolio-1.jpg);
  background-size: cover;
  background-position: start;
}

.img-portfolio-2 {
  background: url(../img/portifolio-2.jpg);
  background-size: cover;
  background-position: center;
}

.img-portfolio-3 {
  background: url(../img/portifolio-3.jpg);
  background-size: cover;
  background-position: center;
}

.img-portfolio-4 {
  background: url(../img/portifolio-4.jpg);
  background-size: cover;
  background-position: center;
}

.img-portfolio-5 {
  background: url(../img/portifolio-5.jpg);
  background-size: cover;
}

.portfolio .grid-two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.portfolio .grid-four img {
  width: 100%;
}

footer {
  background: var(--black);
  display: grid;
  grid-area: footer;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  padding: 40px 5%;
}

footer #logo {
  color: var(--white);
  font-size: 25px;
  display: block;
  margin-top: -7px;
}

footer h4 {
  color: var(--pink);
  font-size: 14px !important;
  margin-bottom: 20px;
}

footer .date-post {
  font-size: 14px;
}

footer .date-post:not(:first-child) {
  margin-top: 10px;
}

footer .date-post span {
  color: #454545;
}

footer .twitter-post:not(:first-child) {
  margin-top: 15px;
  width: 90%;
}

footer .twitter-post a {
  color: var(--white);
}

footer .twitter-post p {
  color: #454545;
  position: relative;
  text-indent: 40px;
}

footer .twitter-post img {
  display: inline-block;
  position: absolute;
  width: 20px;
}

footer p {
  color: var(--white);
}

footer > div:nth-child(1) img{
  border-radius: 50%;
  display: inline-block;
  height: 100px;
  margin: 15px 0;
  width: 100px;
}

@media (max-width: 850px) {
  #logo {
    font-size: 30px;
  }
  
  header ul a {
    padding: 3px !important;
    font-size: 14px !important;
  }
  
  .boxs-services {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
  
  footer {
    grid-gap: 40px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 760px) {
  .portfolio {
    grid-template-columns: 1fr;
  }
  header {
    grid-template-columns: 1fr;
    text-align: center;
  }
  header ul {
    justify-content: center;
    padding-left: 0;
    text-align: center;
  }
}

@media (max-width: 580px) {
  .boxs-services, footer {
    grid-template-columns: 1fr;
  }

  .boxs-services .box {
    margin: 0 auto;
    width: 250px;
  }
  
  .signature {
    padding: 40px 15px;
  }

  .img-portfolio-2, .img-portfolio-4{
    min-height: 170px;
  }

  .portfolio .grid-two {
    grid-template-columns: 1fr;
  }
}